:root {
    --black: #000;
    --dark-grey: #444;
    --grey: #888;
    --light-grey: #bbb;
    --white: #fff;
    --light-blue: #38bdf8;
    --blue: #1e3a8a;
    --dark-blue: #0f172a;
    --rosa: #8d00e5;
    --purple: #2b006c;
    --teal: #0f6e56;
}

$colors: (
    'black': var(--black),
    'dark-grey': var(--dark-grey),
    'grey': var(--grey),
    'light-grey': var(--light-grey),
    'white': var(--white),
    'light-blue': var(--light-blue),
    'blue': var(--blue),
    'dark-blue': var(--dark-blue),
    'rosa': var(--rosa),
    'purple': var(--purple),
    'teal': var(--teal),
);

@each $name, $hex in $colors {
    .text-#{$name} {
        color: $hex;
    }
    .bg-#{$name} {
        background-color: $hex;
    }
}
