$base-font-size: 14px;

$font-size-multipliers: (
    xs: 0.75,
    sm: 1,
    md: 1.25,
    lg: 1.5,
    xl: 2,
);

.text {
    @each $size-name, $multiplier in $font-size-multipliers {
        &-#{$size-name} {
            font-size: $base-font-size * $multiplier;
        }
    }
}
