$base-font-size: 14px;

$font-size-multipliers: (
    xs: 0.8,
    sm: 0.8,
    md: 1,
    lg: 1.2,
    xl: 1.4,
);

.text {
    @each $size-name, $multiplier in $font-size-multipliers {
        &-#{$size-name} {
            font-size: $base-font-size * $multiplier;
        }
    }
}

.text-bold {
    font-weight: bold;
}
