.dice {
    cursor: pointer;
    color: var(--light-blue);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    z-index: 20;

    &.active-dice {
        animation: shake 200ms ease infinite;
    }
}

@keyframes shake {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(-45deg);
    }
}
