@use './styles/typography';
@use './styles/spacing';
@use './styles/flexbox';
@use './styles/sizing';
@use './styles/colors';

#root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    width: 360px;
}

.ruleTag {
    color: var(--light-blue);
    text-decoration: underline;
}

ul,
ol {
    padding-left: 10px;
    margin: 0 10px;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

body {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url('/images/tardis_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--white);
    padding: 0 15px 45px 15px;
}

img {
    border: 1px solid var(--black);
}

p,
li,
em,
strong,
span {
    font-size: 13px;
    line-height: 20px;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a,
h2,
strong {
    color: var(--light-blue);
}

.rounded {
    border-radius: 8px;
}

.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

table {
    font-size: 13px;

    tr {
        th {
            padding: 2px;
        }

        td {
            padding: 4px;
        }
    }
}
