@use './styles/typography';
@use './styles/spacing';
@use './styles/flexbox';
@use './styles/sizing';
@use './styles/colors';

#root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    width: 370px;
}

ul,
ol {
    padding-left: 18px;
    margin: 0 10px;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: var(--light-blue);
    color: var(--dark-grey);
    padding-bottom: 40px;
}

img {
    border: 1px solid var(--black);
}

p,
li,
span {
    font-size: 14px;
    line-height: 1.5;
}

a {
    color: var(--purple);
    font-weight: bold;
    text-decoration: none;
}

strong {
    color: var(--purple);
}

.rounded {
    border-radius: 5px;
}

table {
    tr {
        th {
            padding: 2px;
        }

        td {
            padding: 4px;
        }
    }
}
