.tardis-fly-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 999;
}

.tardis-fly {
    width: 250px;
    position: absolute;
    border: none;
    bottom: -120px;
    animation: fly-up 1.5s ease-in forwards;
}

@keyframes fly-up {
    0% {
        bottom: -120px;
        opacity: 1;
        transform: scale(1);
    }
    40% {
        bottom: 20vh;
        transform: scale(1);
    }
    70% {
        bottom: 60vh;
        transform: scale(0.8);
    }
    100% {
        bottom: 130vh;
        opacity: 0;
        transform: scale(0.5);
    }
}
